
@{
    ViewBag.Title = "AddShipper";
    Layout = "~/Areas/Staff/Views/Shared/_Layout.cshtml";
}
<main>
    <div class="container" style="background-color:aliceblue">
        <div class="row justify-content-center">
            <div class="col-lg-7">

                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Nakliye Firması Ekleme</h3></div>
                    <div class="card-body">
                        <form action="/Shipper/AddShipper" method="post" role="form">

                            <label for="inputFirstName">Şirket Adı</label>
                            <div class="form-floating mb-3">
                                <div class="form-floating mb-3 mb-md-0">
                                    <input class="form-control" id="inputFirstName" type="text" name="CompanyName" />
                                </div>

                            </div>
                            <label for="inputFirstName">Telefon Numarası</label>
                            <div class="form-floating mb-3">
                                <div class="form-floating mb-3 mb-md-0">
                                    <input class="form-control" id="inputFirstName" type="text" name="Phone" />
                                </div>
                            </div>

                            <button type="submit" class="btn btn-primary">Ekle</button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="~/Content/js/scripts.js"></script>

