
@{
    @*ViewBag.Title = "AddEmploye";*@
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main>
    <div class="container" style="background-color:aliceblue">
        <div class="row justify-content-center">
            <div class="col-lg-7">

                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Çalışan Ekleme</h3></div>
                    <div class="card-body">
                        <form action="/Employe/AddEmploye" method="post" role="form">
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <label for="inputFirstName">Çalışan Adı</label>
                                    <div class="form-floating mb-3 mb-md-0">
                                        <input class="form-control" id="inputFirstName" type="text" name="FirstName" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label for="inputFirstName">Çalışan Soyadı</label>
                                    <div class="form-floating mb-3 mb-md-0">
                                        <input class="form-control" id="inputFirstName" type="text" name="LastName" />
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <label for="inputFirstName">Ülkesi</label>
                                    <div class="form-floating mb-3 mb-md-0">
                                        <input class="form-control" id="inputFirstName" type="text" name="Country" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label for="inputFirstName">Doğum Tarihi</label>
                                    <div class="form-floating mb-3 mb-md-0">
                                        <input class="form-control" id="inputFirstName" type="datetime" name="TitleOfCourtes" />
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <label for="inputFirstName">Mesleği</label>
                                    <div class="form-floating mb-3 mb-md-0">
                                        <input class="form-control" id="inputFirstName" type="text" name="Title" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label for="inputFirstName">Ünvanı</label>
                                    <div class="form-floating mb-3 mb-md-0">
                                        <input class="form-control" id="inputFirstName" type="text" name="TitleOfCourtes" />
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Ekle</button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="js/scripts.js"></script>

