
@{
    ViewBag.Title = "CompleteCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2></h2>

@{
    <h1>Siparişiniz oluşturulmuştur. Sipariş Numaranız <strong>@ViewBag.OrderNumber</strong> </h1>
}
