@model List<Product>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    if (TempData["error"] != null)
    {
        <div class="alert alert-danger">
            <span>@TempData["error"]</span>
        </div>
    }
}
<!-- Header-->
@*<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Shop in style</h1>
            <p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p>
        </div>
    </div>
</header>*@
<div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
    @foreach (var product in Model)
    {
        <div class="col mb-5">
            <div class="card h-100">
                <!-- Product image-->
                <img class="card-img-top" src="https://st4.depositphotos.com/13324256/24475/i/450/depositphotos_244751462-stock-photo-top-view-product-lettering-made.jpg" alt="..." />
                <!-- Product details-->
                <div class="card-body p-4">
                    <div class="text-center">
                        <!-- Product name-->
                        <h5 class="fw-bolder">@product.ProductName</h5>
                        <!-- Product price-->
                      
                    </div>
                    <div class="text-center">
                        <span>Ürün Fiyat:@product.UnitPrice</span>
                    </div>
                    <div class="text-center">
                        <span>@product.Category.CategoryName</span>
                    </div>
                </div>
                <!-- Product actions-->
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                    <div class="text-center">
                        @Html.ActionLink("Sepete Ekle", "AddToCart", new { id = product.ProductID }, new { @class = "btn btn-outline-dark mt-auto" })
                    </div>
                </div>
            </div>
        </div>
    }
</div>


