@model List<Category>

<ul class="list-group">
    @foreach (var category in Model)
    {
        <li class="list-group-item">@Html.ActionLink(category.CategoryName, "GetProductsByCategoryId", new {categoryId=category.Id})</li>
    }
</ul>