
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddUser</title>
</head>
<body>
    <div> 
        <form method="post">
            <div>
                <label>Username: </label>
                <input type="text" name="Username" />
            </div>
            <div>
                <label>Email: </label>
                <input type="email" name="Email" />
            </div>
            <div>
                <label>Password: </label>
                <input type="password" name="Password" />
            </div>
            <button type="submit">Add User</button>
        </form>
    </div>
</body>
</html>
