
@model MVC_AppUserCRUD.Models.AppUser

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div> 
        <ul>
            <li>@Model.Id</li>
            <li>@Model.Username</li>
            <li>@Model.Email</li>
        </ul>
    </div>
</body>
</html>
