<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Update</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <form method="post">

                    <div class="card">
                        <lable>UserName</lable>
                        <input type="text" name="UserName" />
                    </div>

                    <div class="card">
                        <lable>Email</lable>
                        <input class="align-items-lg-center" type="email" name="Email" />
                    </div>

                    <br />
                    <center>
                        <button style="width:250px;" class="btn btn-warning" type="submit">Update</button>
                    </center>
                </form>
            </div>

        </div>
    </div>
</body>
</html>